* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  display: block; }

body {
  color: #333; }

.container {
  padding: 40px 0;
  font: normal 14px/150% "Droid Sans", Helvetica, Arial, sans-serif; }

#left-col #logo {
  margin-bottom: 20px; }
#left-col nav {
  position: fixed;
  margin: 0;
  padding: 0; }
  #left-col nav li {
    list-style: none;
    display: block;
    margin-bottom: 5px; }
    #left-col nav li a {
      color: #0FAAF0; }

#right-col section {
  /*background: lighten($colorLightBlue, 2.2%) */
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 30px;
  margin: 0 -15px 25px; }
#right-col h1 {
  font: lighter 20px/150% "Droid Sans", Helvetica, Arial, sans-serif;
  padding: 8px 15px;
  margin: -30px -30px 30px;
  border-bottom: 1px solid #eee; }

/* COLORS ******************* */
#colorList li {
  display: inline-block;
  width: 160px;
  background: white;
  border-radius: 4px;
  border: 1px solid #eee;
  padding: 10px;
  margin: 0 30px 30px 0; }
  #colorList li .name {
    font-size: 12px;
    color: #555;
    font-weight: bold;
    display: block; }
  #colorList li .value {
    font-size: 12px;
    color: #888;
    display: block; }
  #colorList li:before {
    content: "";
    display: block;
    height: 80px;
    border-radius: 3px 3px 0 0;
    margin: -10px -10px 10px; }
  #colorList li#colorBlue:before {
    background: #0FAAF0; }
  #colorList li#colorGreen:before {
    background: #58B20D; }
  #colorList li#colorYellow:before {
    background: #FFBF00; }
  #colorList li#colorRed:before {
    background: #D0021B; }
  #colorList li#colorBlack:before {
    background: #333; }
  #colorList li#colorGray:before {
    background: #777; }
  #colorList li#colorLightBlue:before {
    background: #F5F9FB; }

/* BUTTONS ******************* */
.btn-primary {
  display: inline-block;
  cursor: pointer;
  font: normal 16px/150% Helvetica, Arial, sans-serif;
  border-radius: 3px;
  color: white;
  padding: 0.3em 0.5em;
  margin: 1em;
  text-decoration: none !important;
  letter-spacing: 0.5px;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  background: #0FAAF0; }
  .btn-primary:hover {
    color: white;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); }
  .btn-primary:active {
    color: white;
    text-decoration: none;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .btn-primary:visited {
    color: white;
    text-decoration: none; }
  .btn-primary::selection {
    background: none; }
  .btn-primary:hover {
    background-color: #35b8f2; }
  .btn-primary:active {
    background-color: #0faaf0; }

.btn-secondary {
  display: inline-block;
  cursor: pointer;
  font: normal 16px/150% Helvetica, Arial, sans-serif;
  border-radius: 3px;
  color: white;
  padding: 0.3em 0.5em;
  margin: 1em;
  text-decoration: none !important;
  letter-spacing: 0.5px;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  background: transparent;
  box-shadow: none;
  color: #0FAAF0;
  border: 1px solid #0FAAF0; }
  .btn-secondary:hover {
    color: white;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); }
  .btn-secondary:active {
    color: white;
    text-decoration: none;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .btn-secondary:visited {
    color: white;
    text-decoration: none; }
  .btn-secondary::selection {
    background: none; }
  .btn-secondary:hover, .btn-secondary:active {
    color: #0FAAF0;
    box-shadow: none; }

.btn-green {
  display: inline-block;
  cursor: pointer;
  font: normal 16px/150% Helvetica, Arial, sans-serif;
  border-radius: 3px;
  color: white;
  padding: 0.3em 0.5em;
  margin: 1em;
  text-decoration: none !important;
  letter-spacing: 0.5px;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  background: #58B20D; }
  .btn-green:hover {
    color: white;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); }
  .btn-green:active {
    color: white;
    text-decoration: none;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .btn-green:visited {
    color: white;
    text-decoration: none; }
  .btn-green::selection {
    background: none; }
  .btn-green:hover {
    background-color: #61c50e; }
  .btn-green:active {
    background-color: #58b20d; }

.btn-yellow {
  display: inline-block;
  cursor: pointer;
  font: normal 16px/150% Helvetica, Arial, sans-serif;
  border-radius: 3px;
  color: white;
  padding: 0.3em 0.5em;
  margin: 1em;
  text-decoration: none !important;
  letter-spacing: 0.5px;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  background: #FFBF00; }
  .btn-yellow:hover {
    color: white;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); }
  .btn-yellow:active {
    color: white;
    text-decoration: none;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .btn-yellow:visited {
    color: white;
    text-decoration: none; }
  .btn-yellow::selection {
    background: none; }
  .btn-yellow:hover {
    background-color: #ffcc33; }
  .btn-yellow:active {
    background-color: #ffbf00; }

.btn-red {
  display: inline-block;
  cursor: pointer;
  font: normal 16px/150% Helvetica, Arial, sans-serif;
  border-radius: 3px;
  color: white;
  padding: 0.3em 0.5em;
  margin: 1em;
  text-decoration: none !important;
  letter-spacing: 0.5px;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  background: #D0021B; }
  .btn-red:hover {
    color: white;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); }
  .btn-red:active {
    color: white;
    text-decoration: none;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .btn-red:visited {
    color: white;
    text-decoration: none; }
  .btn-red::selection {
    background: none; }
  .btn-red:hover {
    background-color: #ee021f; }
  .btn-red:active {
    background-color: #d0021b; }
